.mat-paginator {
  top: 0;
  background: transparent;
  font-size: 1.2rem;
  position: fixed;
  padding-top: 5px;
  width: 50%;
  height: 75px;
  right: 0;
  z-index: 1;
}

$border-radius-size: 14px;
$pokemon: #f44336;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  overflow: auto;
  margin: auto auto;
  display: flex;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  background: white;
  margin-top: 70px;
}

.controls-btn {
  position: fixed;
  top: 42%;
}

.control-btn {
  width: 80px;
  border-radius: 50px;
  height: 80px;
  background: #3c8d51;
  box-shadow: -1px 15px 30px -12px black;
  color: white;
}

.control-btn:hover {
  background: #3c8d51;
}

.previous-btn {
  left: 20%;
}

.next-btn {
  right: 10%;
  margin-left: 375px;
}

.wrapper {
  padding-top: 40px;
  margin: auto 30%;
  padding-bottom: 40px;
  
  &:focus {
    outline: 0;
  }
}

.pokemon-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.pokemon-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.pokemon-card__image--pokeball {
  background: url('../../assets/imgs/pokeball.jpg');
  img {
    width: 315px;
    position: absolute;
    top: -65px;
    height: 315px;
    left: 0px;
  }
}

.pokemon-card__level {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
}

.pokemon-card__level--pokeball {
  color: $pokemon;
}

.pokemon-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.pokemon-card__unit-description {
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #006cff;
}

.pokemon-card__unit-stats--pokeball {
  background: $pokemon;
  
  .one-third {
     border-right: 1px solid #BD7C2F;
  }
}

.pokemon-card__unit-stats {
  
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  
  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }
  
  sup {
    position: absolute;
    bottom: 4px; 
    font-size: 45%;
    margin-left: 2px;
  }
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}