<app-header-nav></app-header-nav>

<mat-paginator [length]="pokemonsCount" [pageSize]="20" (page)="paginatorAction($event)">
</mat-paginator>


<div class="slide-container">
  <mat-vertical-stepper>
    <mat-step *ngFor="let pokemon of pokemons">
      <ng-template matStepLabel>{{pokemon.name | titlecase}}</ng-template>
      <ng-template matStepContent>
        <div class="wrapper">
          <div class="pokemon-card">
            <div class="pokemon-card__image pokemon-card__image--pokeball">
              <img src={{pokemon.sprites.other.dream_world.front_default}} alt={{pokemon.name}} />
            </div>
            <div class="pokemon-card__level pokemon-card__level--pokeball">XP: {{pokemon.base_experience}}</div>
            <div class="pokemon-card__unit-name">{{pokemon.id}}. {{pokemon.name  | uppercase}}</div>
            <div class="pokemon-card__unit-description" *ngFor="let pokeAbility of pokemon.abilities">
              {{pokeAbility.ability.name}}
            </div>
            <div class="pokemon-card__unit-stats pokemon-card__unit-stats--pokeball clearfix">
  
              <div class="one-third no-border" *ngFor="let pokeStat of pokemon.stats">
                <div class="stat">{{pokeStat.base_stat}}</div>
                <div class="stat-value">{{pokeStat.stat.name}}</div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="controls-btn">

          <button *ngIf="pokemon" class="control-btn previou-btn" mat-button matStepperPrevious><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button class="control-btn next-btn" mat-button matStepperNext><mat-icon>keyboard_arrow_right</mat-icon></button>
      
      </div>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>
</div>
